<%- include('../partials/header') %>
<!-- This is for the calendar drop down for choosing departing flight -->
<!-- <input type="datetime-local"> -->


<input type="text">

<button type="submit">Add Flight</button>

<table>
    <thead>
        <tr>
            <th>Flights</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td><%= f.flightNo %></td>  
              <td><input type="datetime-local"></td>
              <!-- <td><%= f.departs %></td> -->
              <td><a href="/flights/<%= f._id %>"></a></td>
            </tr>
            <% }); %>
    </tbody>
    </table>

<%- include('../partials/footer') %>